<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carro">
            <h2><span>Carro</span> {{ carro.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ carro.nome }}</span>
                </dd>
                <dt><span>Placa</span></dt>
                <dd>
                    <span>{{ carro.placa }}</span>
                </dd>
                <dt><span>Endereco</span></dt>
                <dd>
                    <span *ngFor="let endereco of carro.enderecos; let last = last">
                        <a [routerLink]="['/endereco', endereco?.id, 'view']">{{ endereco.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Pessoa</span></dt>
                <dd>
                    <div *ngIf="carro.pessoa">
                        <a [routerLink]="['/pessoa', carro.pessoa?.id, 'view']">{{ carro.pessoa?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/carro', carro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
